@keyframes startup {
    0% {
        transform: scale(0%);
    }

    35% {
        transform: scale(120%);
    }
    70% {
        transform: scale(100%);
    }
    100% {
        transform: scale(1500%);
    }
}

@keyframes startup2 {
    0% {
        opacity: 100%;
        transform: scale(0%);
    }
    100% {
        opacity: 100%;
        transform: scale(1500%);
    }
}

@keyframes disappear {
    0% {
        opacity: 100%
    }
    100% {
        opacity: 0%;
    }
}

@keyframes navbar {
    0% {
        opacity: 1;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

* {
    margin: 0;
    /* outline: 1px solid black; */
}

body {
    color: whitesmoke;
    background-color: rgb(53, 53, 53);
}

#circleDiv {
    background-color: rgb(53, 53, 53);
    overflow: hidden;
    font-family: arial;
    font-size: 24px;
    width: 100vw;
    height: 100vh;
    /* Setup */
    position: absolute;
}

.hidden {
    animation-name: disappear;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.hiddenNoTrans {
    opacity: 0;
}

.circleRed {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(216, 38, 38);
    border-radius: 50%;
    background-color: rgb(216, 38, 38);
    box-shadow: 5px 5px 15px black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px;
    animation-name: startup;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.circleWhite {
    opacity: 0%;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(53, 53, 53);
    border-radius: 50%;
    background-color: rgb(53, 53, 53);
    box-shadow: 5px 5px 15px black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px;
    animation-name: startup2;
    animation-duration: 1s;
    animation-delay: .9s;
    animation-fill-mode: forwards;
}

.navbar {
    animation-name: navbar;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    height: 50px;
    width: 100%;
    background-color: rgb(216, 38, 38);
    box-shadow: 0px 5px 25px black;
}

.navbarTable{
    font-family: Roboto;
    font-size: large;
    height: 100%;
    margin: auto;
    width: 50%;
    text-align: center;
}

.navbarTable td {
    transition: ease-in-out;
    transition-duration: .2s;
    padding: 5px;
}

.navbarTable td:hover {
    transition: ease-in-out;
    transition-duration: .2s;
    background-color: rgb(253, 51, 51);
}
